@import "variables.scss";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
%fs_h2{
  font-size: 40px;
}
%wrap_disp{
  width: 100%;
  display: flex;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

section{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.btn{
  padding: 20px 60px;
  border-radius: 10px;
  color: white;
}
.red{
  background: $orange;
}
.blue{
  background: $blue;
}
h2{
  font-size: 50px;
  margin-bottom: 20px;
}
p{
  color:$text_gray;
  margin-bottom: 20px;
}
a{
  color: $blue;
  font-weight: 900;
}
.active{
  color: black;
  border-bottom: 2px solid $blue;
}



// HEADER

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  .td_menu{
    display: flex;
    li{
      a{
        color: #696871;
        font-size: 15px;
        margin-right: 50px;

        &:hover{
          color: black;
          padding-bottom: 3px;
          border-bottom: 2px solid $blue;
        }
      }
    }
  }
}
.hamburger-menu{
  display: none;
}
.header .wrap{
  width: 100%;
  height: 645px;
  background: url("../images/Hero\ 3D.png")  no-repeat;
  background-position: right ;
  display: flex;
  align-items: center;
  .container{
    width: 460px;
    h1{
      font-size: 70px;
      margin-bottom: 30px;
    }

    p{
      color: $text_gray;
      margin-bottom: 50px;
    }
    .btn_a{
      display: flex;
      align-items: center;
    }
    button{
      width: 55px;
      height: 55px;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
      background:white;
      font-size: 30px;
      margin-left: 40px;
    }
  }
}
.logotypes{
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
// HEADER
// SUBSCRIPTION INDEX
.sub_index .container{
  width: 500px;
  text-align: left;

}
.sub_index .wrap{
  background: url("../images/Content\ Image\ 02.png") no-repeat;
  @extend %wrap_disp;
  justify-content: end;
  height: 475px;
}
// SUBSCRIPTION INDEX
// METRICS
.metrics .container{
  width: 500px;
  text-align: left;

}
.metrics .wrap{
  background: url("../images/Content\ Image.png") no-repeat;
  background-position: right;
  @extend %wrap_disp;
  height: 475px;
  margin-bottom: 140px;
}
// METRICS
// BENCHMARKS
.benchmarks{
display: flex;
justify-content: space-around;
.block{
  width: 320px;
  text-align: center;
  h3{
    margin-bottom: 20px;
  }
  img{
    width: 150px;
    height: 100px;
  }
}
}
// BENCHMARKS
//MONTH
.month{
  margin-bottom: 50px;
  padding: 0;
.up_sec{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  h2{
  width: 450px;
  @extend %fs_h2;
  }
}
.unif_a{
  background: $gray;
  width: 336px;
  height: 55px;
  padding: 10px;
  display: flex;
  align-items: center;

  a{
    color:black;
    font-family: sans-serif;
    padding:  22px 53px;
    &:hover{
      color: white;
      background: $blue;
    }
  }
}
.a1{
  border-radius: 15px 0 0 15px;
}
.a2{
  border-radius: 0 15px 15px 0;
}
.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block{
  transition: 0.5s;
  text-align: center;
  width: 30%;
  margin: 1%;
  background: $gray;
  border-radius: 15px;
  .block_wrap{
    margin: 10%;
  }
  h3{
    font-size: 18px;
    color: $text_gray;
    margin-bottom: 32px;
  }
  h2{
    @extend %fs_h2;
margin-bottom: 45px;
  }
  ul{
    margin-bottom: 10px;
  }
  li{
    margin-bottom: 35px;
    color:$text_gray;
  }
  a{
    padding: 15px 30%;
    background: white;
    color:$blue;
    border-radius: 15px;
  }
  &:hover{
transform: scale(1.1);
background: #FF7143;
h2{
  color: white;
}
a{
  color: white;
  background-color: #9F3919;
}
li{
  color: white;
}
  }
}
}
//MONTH



//ADAPTIVE LAYOUT
@media (max-width:1024px){
// HEADER
.btn{
  padding: 10px 20px;
  font-size: 13px;
}
nav{
    justify-content: space-around;
    margin-bottom: 20px;
    img{
      width: 170px;
      margin-right: 30px;
    }
}
.header .wrap{
    background-size: 63%;
    // height: 600px;
    .container{
      width: 300px;
  h2{
    font-size: 50px;
  }
  p{
    font-size: 15px;
  }
      button{
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-left: 20px;
      }
}
}
  // HEADER
  // SUBSCRIPTION INDEX
  .sub_index .container{
    width: 300px;
  }
  // SUBSCRIPTION INDEX
  // METRICS
.metrics .container{
  width: 300px;
}
// METRICS
//MONTH

.month .block{

  h2{
    font-size: 30px;
  }
  a{
    padding: 15px 25%;
  }

}

//MONTH
}
@media (max-width:768px) {
  .td_menu .menu__item{
    display: none;
  }
  .active{
    display: none;
  }
  .td_a{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 3%;
    right: 15%;
    width: 36px;
    height: 46px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -11px;
  }
  .menu__btn > span::after {
    content: '';
    top: 11px;
  }
  .menu__item{
    display: block;
    margin-bottom: 10px;
    color: black;
    &:hover{
      padding-bottom: 3px;
          border-bottom: 2px solid $blue;
    }
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 70px;
    right: 0;
    background: #E7E7E7;
    width: 40%;
    padding: 10px;
    border-radius: 0 0 0 10px;
.btn{
  color:white;
  margin-bottom: 5px;
  text-align: center;
  &:hover{
    padding-bottom: 10px;
    border-bottom: 0;
  }
}
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn  span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.header{
  img{
    margin-left: -30px;
    width: 200px;
  }
}
.header .wrap{
background: transparent;
height: 400px;
.container{
  width: 100%;
  a{
    font-size: 20px;
  }
  button{
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}
}
.logotypes{
  display: none;
}
.sub_index {
  .wrap{
    background: transparent;
  }
  .container{
  width: 100%;
}

}
}
